- content_for :inner_layout do
  
  %br/
  %header.container
  
    .row
      .col-12.col-md-10.col-lg-8.col-xl-7
        %h3.thick.serif= link_to "The Climbing FAQ", root_path
        %small<
          * Please read
          = succeed(".") do
            = link_to("our non-traditional disclaimer", disclaimer_path)
            

        %hr{:style => "margin-bottom: 0;"}/
        
  #spacer
  
  %main.container
    = yield
    %br/
    %br/

    
= render :file => 'layouts/base'
